<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulaobo.mapper.AnswerMapper">

    <select id="getReplyNumById" parameterType="Integer" resultType="int">
        select count(*) from t_answer where topicId = #{topicId}
    </select>


    <insert id="addAnswer" parameterType="answer">
        insert into t_answer (content,answeruser,pubtime2,topicId) values (#{content},#{answeruser},#{pubtime2},#{topicId})
    </insert>

    <select id="getAllAnswer" resultType="answer">
        select * from t_answer
    </select>

    <delete id="deleteAnswerById">
        delete from t_answer where id=#{id}
    </delete>

    <select id="getAnswerById" parameterType="Integer" resultType="answer">
        select * from t_answer where id=#{id}
    </select>

    <update id="updateStateByAnswer" parameterType="answer">
        update t_answer set state2=#{state2} where id=#{id}
    </update>

</mapper>