<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>操作成功...</title>
    <link rel="shsortcut icon" th:href="@{/favicon.ico}"/>
</head>
<body onload="run()">
<h1><span style="color: green">操作成功！</span></h1>
<h2><span id="totalSecond">3</span>秒后完成跳转!!!</h2>
</body>
<script language="javascript" type="text/javascript">
    var second = document.getElementById('totalSecond').innerText;

    setInterval("redirect()", 1000); //每1秒钟调用redirect()方法一次
    function redirect()
    {
        if (second < 1)
        {
            top.location.href = 'toUserHome';
        } else
        {
            document.getElementById('totalSecond').innerText = second--;
        }
    }
</script>
</html>