<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header1">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">巢湖学院《数字电视原理与应用》精品课程</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="getAllNews">首页</a></li>
                <li><a href="getVideoListByUser">视频教程</a></li>
                <li><a href="getSourceListByUser">资料下载</a></li>
                <li><a href="getMessageTopicList">留言板</a></li>
                <li><a href="toUserHome">个人中心</a></li>
                <li><a href="toAbout">关于</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" th:if="${session.user==null}">
                <li><a href="toLogin">登录</a></li>
                <li><a href="toRegister">注册</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" th:if="${session.user!=null}">
                <li><a href="#" th:text="'欢迎你，'+${session.user.getUsername() }"></a></li>
                <li><a href="logout">退出登陆</a></li>
            </ul>

        </div>
    </div>
</nav>
</div>

</html>