<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>资料上传</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/base.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/page.css}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<!--    <script>-->
<!--        function uploadFile() {-->
<!--            var myselect = document.getElementById("fileaction");-->
<!--            var index = myselect.selectedIndex;-->
<!--            var value = myselect.options[index].value;-->
<!--            document.getElementById("loginform").setAttribute('action',value);-->
<!--        }-->

<!--    </script>-->
</head>

<body>
<!--欢迎页面-->
<div class="welcomewrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <!--右侧下面部分-->
                <!--页头-->
                <div class="page-header">
                    <h1>资料 <small>上传</small></h1>
<!--                    <h3 class="updatatip">上传视频时,文件过大,请勿重复提交!</h3>-->
                </div>
                <!--发布项目到index.html列表-->
                <div class="sendObject center-block text-center">
                    <form id="loginform" class="form-horizontal" method="post" enctype="multipart/form-data" th:action="@{sourceUpload}">
<!--                        <div class="form-group">-->
<!--                            <label for="inputEmail3" class="col-sm-2 control-label">标题</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="text" name="filename" class="form-control" id="inputEmail3" placeholder="标题">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="inputPassword3" class="col-sm-2 control-label">作者</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="text" name="author" class="form-control" id="inputPassword3" placeholder="作者">-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="form-group">
                            <label  class="col-sm-2 control-label">文件</label>
                            <div class="col-sm-10">
                                <!--<input type="file"  id="inputPassword3" placeholder="图片">-->
                                <input type="file" id="chooseImage" name="file">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default updatabtn" alt="">上传</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>